.App {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 230, 230, 0.113);
}

.main-panel {
    margin: 15px;
}

.blogpost-panel {
    margin: 15px;
    padding: 5px;
    background-color: rgba(132, 226, 255, 0.326);
}

.read-panel {
    height: 160px;
    margin: 20px;
}